body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF
}

.result-container {
    display: none;
}

.radio {
    margin: 10px;
}

.form-inline .form-group {
    margin-bottom: 10px;
}